schemas/system_prompt.md
data/*
!data/.gitkeep
images/*
!images/.gitkeep
validation_tool/data_source/*
!validation_tool/data_source/.gitkeep
validation_tool/data_in_progress/*
!validation_tool/data_in_progress/.gitkeep
validation_tool/data_validated/*
!validation_tool/static/images/.gitkeep
validation_tool/validator_app/static/images/*
!validation_tool/validator_app/static/images/.gitkeep
image_transform_tool/archive/
image_transform_tool/*.jpg
image_transform_tool/*.log
image_transform_tool/.env
archive/
modern-validator-app/update.sh
modern-validator-app/Untitled-2.sh
.venv/